@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 13% 89%;
    --foreground: 0 0% 18%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 18%;
    --primary: 211 70% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5% 74%;
    --secondary-foreground: 0 0% 18%;
    --muted: 224 10% 85%;
    --muted-foreground: 0 0% 40%;
    --accent: 211 70% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 138 57% 40%;
    --success-foreground: 0 0% 100%;
    --border: 220 10% 75%;
    --input: 220 10% 75%;
    --ring: 211 70% 43%;
    --sidebar: 220 57% 21%;
    --sidebar-foreground: 0 0% 95%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
